

.posts-container {
    /* background-color: darkolivegreen; */
    border: none;
    outline: none;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .posts-container>.posts-update {
    width: 100%;
    min-height: 10vh;
    /* background-color: #4CAF50; */
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .posts-container>.posts-update>.post-view-box {
    float: left;
    height: 300px;
    width: 300px;
    min-width: 32.62%;
    max-width: 33%;
    overflow: hidden;
  }
  
  .posts-container>.posts-update>.post-view-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .posts-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    width: 500px;
    /* background-color: aqua; */
  
  }
  
  .posts-main>.cemera-icn {
    border: 3px solid black;
    font-size: 30px;
    padding: 30px;
    border-radius: 50%;
  }
  
  .posts-main>.photo-select {
    border: none;
    color: blue;
    background-color: white;
  }
  
  .profile-posts-upload>.upload-label>input {
    opacity: 0;
    width: 0px;
    height: 0px;
  }