

.saved-main {
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  .saved-main>.saved-phera {
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 10px;
  }
  
  .saved-main>.saved-describe {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
    /* background-color: red; */
  }
  
  .saved-main>.saved-describe>.saved-icn {
    border: 3px solid black;
    font-size: 50px;
    padding: 20px;
    border-radius: 50%;
  }
  
  .saved-main>.saved-phera>.saved-btn {
    border: none;
    color: blue;
    background-color: white;
  }
  
  .saved-btn>.upload-label>input {
    opacity: 0;
    width: 0px;
    height: 0px;
  }
  